<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>柜面管理</title>

    <!-- 引入ExtJs核心Js -->
    <script type="text/javascript" src="/vendor/ext-6/build/ext-all.js"></script>
    <script type="text/javascript" src="/vendor/ext-6/build/classic/locale/locale-zh_CN.js"></script>
    <!-- 引入ExtJs样式-->
    <link rel="stylesheet" type="text/css" href="/vendor/ext-6/build/classic/theme-classic/resources/theme-classic-all.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/ext-6/build/classic/theme-classic/resources/theme-classic-all-debug.css"/>
    <!--引入插件 -->
    <script type="text/javascript" src="/vendor/ext-6/build/packages/ux/classic/ux.js"></script>

    <script type="text/javascript" src="/App/Application.js" />
</head>

<body>
<div>ddd</div>
</body>

</html>